{% extends 'base.html' %}
{% block content %}
{{block.super}}
<div class="row">
    <div  class="col-md-2 sidebar">
        <h2>sidebar</h2>
        {% if profile.profile_picture %}
        <img class="profilepic" src="{{profile.profile_picture.url}} " alt="profilepic">
        {% endif %}

        <h3>{{user.username}} </h3>
        <hr>
        <p>{{profile.bio}} </p>
        <a href="{% url 'profile_form' user.id %} "><button>Update Profile</button> </a>
    </div>
    <div class="col-md-9">
     <h1>Welcome {{user.username}}...</h1> 
<hr>
    <h1>Hello stranger! Welcome to Peer Reviews.Post your Projects here.</h1> 
    
    

    <div class="footer">
        <a>tori-bot   &copy 2022   Victoria Makena</a>
    
    </div>
    </div>
</div>



{% endblock %}