{%extends "django_registration/base.html"%}
{% load bootstrap5 %}
{% block content %}
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-6">
      <img class="register_img" src="https://img.freepik.com/free-vector/isometric-remote-work-management-illustration_1284-64565.jpg?t=st=1655039008~exp=1655039608~hmac=33d86c36679d17449e633d2cf50b4fb5ce798c8cabe9956ba5b4dfd05a03995b&w=740" alt="">
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4 login_form">
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-center">Log In</h3>
          <hr>
        </div>
        <div class="panel-body">

          <form  action="/accounts/login/" method="post">
            {% csrf_token %}
            {% bootstrap_form form%}

            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Login">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>

          
          <a href="/accounts/register/ ">Don't have an account</a>

        </div>

      </div>

    </div>
    <!-- empty div -->
    
  </div>
</div>

{% endblock %}